@font-face {
  font-family: "Source Sans Pro", sans-serif;
  src: url("../portfolio1_KarenJoo/Source_Sans_Pro/SourceSansPro-ExtraLight.ttf")
    format("truetype");
  font-weight: 200;
}

:root {
  --width: 100%;
  --box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro";
  background-color: #333333;
}

body,
html {
  margin: 0 auto;
}

main {
  justify-content: center;
  width: var(--width);
  display: grid;
}

#section-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.logo h1 {
  font-weight: 600;
  font-size: 20vw; /* Adjust the value to viewport */
  height: auto;
  width: 100%;
  max-width: 100vh;
  max-height: 50vw;
  color: #fff;
  margin-top: 50%;
  text-align: center;
}

.logo h2 {
  font-weight: 200;
  font-size: 3vw;
  padding-bottom: 20px;
  color: var(--white);
  padding-left: 15px;
  text-align: center;
  align-items: center;
}

/* Styling for the header and navigation menu */
#header {
  background-color: #333333;
  padding: 20px;
  width: var(--width);
  border-style: solid;
  top: 200px;
  border-color: var(--white);
  border-width: 1px 0; /* Specifies 1px for top and bottom, 0 for left and right */
}

#main-menu ul {
  list-style-type: none;
  text-align: center;
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

#main-menu ul li {
  display: inline-block;
  margin-right: 20px;
}

.side-menu ul li a,
#main-menu ul li a {
  color: var(--white);
  text-decoration: none;
}

/* Side Menu (by chatGPT)*/
.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  height: 20px; 
  padding: 50px;
  width: 100%;
  display: none; /* hide the side menu */
}


.side-menu ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.side-menu li {
  margin-right: 20px;
}

.side-menu a {
  color: #fff;
  font-size: 20px;
  align-items: center;
  text-decoration: none;
}

/* Show side menu when scrolling below 100vh */
.scrolled .side-menu {
  left: 0;
}

#contact h1,
#portfolio h1,
#about h1 {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--white);
}

#wrapper {
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 90vw;
  padding: 4rem 2rem;
}

#wrapper:before {
  content: "";
  display: block;
}

#header .content {
  display: flex;
  justify-content: center;
  text-align: center;
}

#header .content .inner {
  padding: 3rem 2rem;
  max-height: 40rem;
  overflow: hidden;
}

#header .content h1 {
  color: var(--white);
}

#header .content p {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 12px;
  line-height: 5;
  color: var(--white);
}

/* sections */

#portfolio,
#about,
#contact {
  min-height: 100vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}

#contact {
  display: flex;
  flex-direction: row;
}

.section-border {
  border-style: solid;
  border-color: var(--white);
  border-width: 0.5px 0px;
  height: 95vh;
  width: 100%;
}

.section-content {
  width: 95%;
  height: 80vh;
  margin: 0px auto;
  background-color: var(--white);
}

.section-content p {
  display: inline-block;
  background-color: var(--white);
  padding: 20px;
}

/* cards */
.card-container {
  width: 95%;
  height: 70vh;
  display: flex;
  justify-content: center;
}

.card {
  margin: 50px 10px;
  height: 500px;
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
}

.direct-links,
.direct-links a,
.card h2 {
  margin-top: 0px; /* title on top of the card */
  box-shadow: none;
  border: none;
  background: none;
  color: var(--white);
}

.direct-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px; /* links on bottom of the card */
}

.direct-links a {
  color: var(--white);
  text-decoration: none;
  margin: 5px auto;
  padding-right: 20px;
}

.card img {
  width: var(--width);
  height: 250px;
  object-fit: cover;
  object-position: top 0% left 0%;
  box-shadow: var(--box-shadow);
}

/* Footer */

#footer {
  transition: transform 0.325s ease-in-out, filter 0.325s ease-in-out,
    opacity 0.325s ease-in-out;
  width: 100%;
  max-width: 100%;
  margin-top: 2rem;
  text-align: center;
  padding-bottom: 30px;
}

#footer .copyright {
  letter-spacing: 0.2rem;
  font-size: 12px;
  margin-top: 20px;
  text-transform: uppercase;
  color: var(--white);
}

#footer .section-border {
  padding-top: 20px;
  height: 80px;
  border-width: 1px 0px 0px;
}

/* media screen for mobile */
@media screen and (max-width: 480px) {
  #header {
    text-align: center;
  }

  #main-menu {
    display: inline-block;
  }

  #main-menu ul {
    justify-content: center;
    flex-direction: column;
    padding: 20px;
  }

  /* burger icon */
  .reopen-menu {
    top: 10%;
    background-color: #333333;
    width: 60px;
    font-size: 12px;
  }

  .side-menu {
    top: 20%;
    
  }

  #portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #portfolio h1 {
    margin-top: 100px;
  }

  .section-border {
    height: auto;
    padding-bottom: 100px;
  }

  .card-container {
    flex-direction: column;
    align-items: center;
    height: 1000px;
    margin-top: 200px;
    margin-bottom: 100px;
  }

  .card {
    width: 100%;
    max-width: 300px;
  }

  .card h2 {
    margin-top: auto;
  }

  /* contact */
  #contact .section-border {
    background-color: aqua;
    margin-top: 10px;
  }
}

/* Media queries for desktop */
@media screen and (max-width: 1680px) {
  #main-menu ul li {
    display: block;
    margin-bottom: 10px;
  }
}
